/frontend/dist/*

**/npm-debug\.log

.vagrant

.idea/**/*

**/node_modules/

generated_doc

InteractiveMedia/\.idea/_workspace\.xml

InteractiveMedia/\.idea/checkstyle-idea\.xml

InteractiveMedia/\.idea/codeStyleSettings\.xml

InteractiveMedia/\.idea/findbugs-idea\.xml

InteractiveMedia/app/hs_err_pid11708\.log

InteractiveMedia/app/hs_err_pid12776\.log

InteractiveMedia/app/hs_err_pid19123\.log

InteractiveMedia/app/hs_err_pid25394\.log

InteractiveMedia/app/hs_err_pid26024\.log

InteractiveMedia/app/hs_err_pid27783\.log

InteractiveMedia/app/hs_err_pid3705\.log

InteractiveMedia/app/replay_pid12776\.log

InteractiveMedia/app/replay_pid19123\.log

InteractiveMedia/app/replay_pid25394\.log

InteractiveMedia/app/replay_pid26024\.log

InteractiveMedia/app/replay_pid27783\.log

InteractiveMedia/app/replay_pid3705\.log

InteractiveMedia/hs_err_pid7204\.log

InteractiveMedia/hs_err_pid7490\.log

InteractiveMedia/hs_err_pid7551\.log

replay_pid11607\.log
