/* Begin AboutPage.vue and AdminProfile.vue styling
 */

.logo {
    height: 300px;
    width: 300px;
    border: 4px solid #3d5059;
    border-radius: 50%;
}


/* End AboutPage.vue and AdminProfile.vue styling
 */