/*
* Author: is058
* Editor: sublime text;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
* //* imports the font family Roboto Condensed from google fonts which is the main font family of the app */

/*
* ---------------------------
* BEGIN EMOTIONS PAGE COLORS
* ---------------------------
*/


/*
*---------------------------
*END EMOTIONS PAGE COLORS
*
*
*BEGIN EMOTIONS POPUP
*---------------------------
*/


/*
*---------------------------
*END EMOTIONS POPUP
*---------------------------
* 
*---------------------------------------------
*BEGIN EMOTIONS STATISTIC AND GENEREL STYLES
*---------------------------------------------
*/

#bar-chart {
    margin-top: 0px;
    max-height: 500px;
    /* sets a final hight to the bar chart */
}

.list-block .item-title:hover {
    cursor: pointer;
    color: #333333;
    /* sets the cursor behavior when hovering the item title */
}

.login-screen-title {
    text-transform: uppercase;
}

body {
    font-family: Roboto Condensed;
    /* sets a default font family for the app */
}

hr {
    width: 80%;
    border-bottom: none;
}

.navbar,
.subnavbar,
.toolbar {
    background: #00ad4e;
    color: #ffffff;
}

.navbar-inner {
    border-bottom: 2px solid #000000;
}

.button {
    color: #00ad4e;
    border: 1px solid #00ad4e;
    /* defines what buttons should look like */
}

.list-block .list-button {
    color: #00ad4e;
}

.navbar a,
.navbar .icon-back,
.navbar .icon-bars {
    color: #ffffff;
}

.buttons {
    margin-top: 2rem;
}

.list-block {
    margin-left: 1rem;
    margin-right: 1rem;
}

.align-top {
    height: 100%;
}

.item-input textarea {
    width: 100%;
    height: 20rem;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#launeButton {
    position: fixed;
    left: 5%;
    bottom: 5%;
    width: 90%;
    /* defines the behavior of the emotion button */
}


/* Beginn UserTable.vue styling
 */

.userTable {
    float: left;
    margin-top: 10px;
    margin-left: 30px
}


/* End UserTable.vue styling
 */


/* Beginn GroupTable.vue styling
 */

.groupTable {
    float: right;
    margin-top: 10px;
    margin-right: 30px
}


/* End GroupTable.vue styling
 */


/* Beginn Overview.vue chart/tabelles styling
 */

.groupUserChart {
    float: left;
    position: relative;
}

.loginTypeChart {
    float: right;
    margin-left: 10px;
    position: relative;
}

.version {
    float: center;
    position: relative;
}


/* .groupUserChartsButton {
    float: left;
    margin-left: 450px
}

.loginTypeChartsButton {
    float: right;
    margin-right: 450px;
} */


/* End Overview.vue chart/tabelles styling
 */


/* Shared */

.loginBtn {
    /* defines what the login button should look like */
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    /* gives the login button a before pseudo element */
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.center {
    text-align: center;
}

.navbar a.icon-only,
.subnavbar a.icon-only,
.toolbar a.icon-only {
    background-color: #ffffff !important;
}